p{
    background-color: cornflowerblue;
    margin: 50px;
}
.klasse-1{
    font-family: Arial, Helvetica, sans-serif;
    color: red;
}
#id-1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';
    color:rgb(4, 172, 2);
}