p{
    background-color: cornflowerblue;

}
.klasse-1{
    font-family: Arial, Helvetica, sans-serif;
    color: red;
}
#id-1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    color:rgb(4, 172, 2);
}
body p{
    background-color: yellow;
}
p.klasse-1{
    height: 50px;
    width: 50px;
    box-sizing: border-box;
    border: 2px black solid;
    
}