p{
    background-color: cornflowerblue;
    margin: 50px;
}
.klasse-1{
    font-family: Arial, Helvetica, sans-serif;
    color: red;
}
#id-1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    color:rgb(4, 172, 2);
}
body p{
    background-color: yellow;
}