html{
    height: 100%;
}
body{
    height: 100%;
}
.grid {
    display: grid;  
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: auto 1fr auto;
    height: 40em;
    grid-template-areas:
      "header header header"
      "nav content side"
      "footer footer footer";
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .grid-item1 {
    grid-area: header;
    background-color: dodgerblue;
  }
  
  .grid-item2 {
    grid-area: nav;
    background-color: gold;
  }
  
  .grid-item3 {
    grid-area: content;
    background-color: gray;
  }
  
  .grid-item4 {
    grid-area: side;
    background-color: tomato;
  }
  
  .grid-item5 {
    grid-area: footer;
    background-color: yellowgreen;
  }


  @media (max-width: 768px) {
    .grid {
      grid-template-areas:
        "header"
        "nav"
        "content"
        "side"
        "footer";
  
      grid-template-columns: 1fr;
      grid-template-rows:auto minmax(75px, auto) 1fr minmax(75px, auto) auto; 
    }
  
    nav, aside {
      margin: 0;
    }
  }